@charset "UTF-8";
/* CSS Document */

@import 'reset.css';

header {
	opacity: .97;
	width: 100%;	
	position: fixed;
	background: #fff;
	border-bottom: solid 1px;
	border-color: #eaeaea;
	-webkit-box-shadow: 0px 3px 4px -2px rgba(0,0,0,0.03);
	-moz-box-shadow: 0px 3px 4px -2px rgba(0,0,0,0.03);
	box-shadow: 0px 3px 4px -2px rgba(0,0,0,0.03);
}

header div {
	display: inline-block;
	width: auto;
	margin-left: 8%;
	vertical-align: top;
	padding-top: 8px;	
}

header img {
	width: 90px;
	height: auto;
	opacity: 1;
}

header img:hover {
	opacity: .8;
}

.container {
	max-width: 960px;
	margin: 0 auto;	
}

nav {
	text-align: right;
	margin-right: 8%;
	width: 60%;
	float: right;
	vertical-align: top;
}

nav ul li {
	display: inline-block;
	padding: 15px 3%;
	border-right: solid 1px;
	border-color: #eaeaea;
	transition-property: background;
	transition-duration: .6s;
}

.first-nav-item {
	border-left: solid 1px;
	border-color: #eaeaea;	
}

nav ul li a {
	text-decoration: none;
	font-family: 'Merriweather', Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 11pt;
	color: #5E5E5E;	
}

nav ul li:hover {
	background: #F7F7F7;
	transition-property: background;
	transition-duration: .6s;
}

nav ul li a:active {
	color: #000;	
}

.on {
	color: #090;	
}

section {
	width: 100%;	
}

.hero {
	width: 100%;
	height: 550px;	
}

#about {
	background: url(directory/About/images/cover3.jpg) no-repeat top left fixed;	
	background-size: cover;
}

#research {
	background: url(directory/Research/images/cover.png) no-repeat top left fixed;	
	background-size: cover;	
}

.content {
	padding-top: 90px;	
}

.content h1 {
	font-size: 22pt;
	font-weight: 300;
	padding-bottom: 60px;
	font-family: 'Merriweather', Helvetica, Arial, sans-serif;	
}

.content h2 {
	padding-bottom: 20px;
	font-size: 16pt;	
}

.content p {
	font-size: 12pt;
	padding-bottom: 15px;	
}

.content img {
	width: 100%;	
}

.content .one-col {
	width: 100%;
	height: auto;	
	padding-bottom: 15px;
}

.content .two-col {
	width: 49%;
	height: auto;	
	padding-bottom: 15px;
	vertical-align: top;
}

.content .three-col {
	width: 32%;
	height: auto;
	padding-bottom: 15px;
	vertical-align: top;	
}

#img-space {
	margin-right: 2%;
}

.chunk {
	padding-bottom: 40px;	
}